In [88]:
import pandas as pd

In [95]:
df = pd.read_csv(r"C:\Users\Zarkli\Desktop\math_modeling\math_modeling_scripts\data_process\datas\complex.csv")
for subject in df["SUBJECT"].unique():
    df_tmp = df[df["SUBJECT"] == subject]
    df_tmp = df_tmp.drop(columns=["SUBJECT"]).reset_index(drop=True)
    print(df_tmp)

    LOCATION  TIME     Value
0        AUS  2013  42.23634
1        AUS  2014  47.64721
2        AUS  2015  49.86091
3        AUS  2016  47.43574
4        AUS  2017  48.65071
..       ...   ...       ...
282     OAVG  2015  21.74623
283     OAVG  2016  22.60335
284     OAVG  2017  21.74929
285     OAVG  2018  21.59494
286      CRI  2013  40.58065

[287 rows x 3 columns]
    LOCATION  TIME      Value
0        AUS  2013  15.273470
1        AUS  2014  13.592840
2        AUS  2015  12.318830
3        AUS  2016  13.041210
4        AUS  2017  15.185070
..       ...   ...        ...
279     OAVG  2015   8.442856
280     OAVG  2016   8.638895
281     OAVG  2017   8.566727
282     OAVG  2018   8.501020
283      CRI  2013   0.000000

[284 rows x 3 columns]
    LOCATION  TIME     Value
0        HUN  1995  80.25735
1        HUN  2000  76.67942
2        HUN  2012  54.43539
3        HUN  2013  61.18879
4        HUN  2014  69.67638
..       ...   ...       ...
428      LTU  2014  74.34711
429      LTU  2015  71.76677
430      LTU  2016  66.31862
431      LTU  2017  64.48744
432      LTU  2018  66.09361

[433 rows x 3 columns]
    LOCATION  TIME     Value
0        JPN  2005  67.75842
1        JPN  2010  65.64867
2        JPN  2011  68.34653
3        JPN  2012  67.41874
4        JPN  2013  65.47763
..       ...   ...       ...
425      LTU  2014  22.37867
426      LTU  2015  25.01148
427      LTU  2016  30.74705
428      LTU  2017  29.99298
429      LTU  2018  28.21417

[430 rows x 3 columns]